[submodule "vendor/cppgit2"]
	path = vendor/cppgit2
	url = https://github.com/lianstuder/cppgit2
[submodule "vendor/ftxui"]
	path = vendor/ftxui
	url = https://github.com/lianstuder/ftxui
[submodule "vendor/libgit2"]
	path = vendor/libgit2
	url = https://github.com/lianstuder/libgit2
